@tailwind base;
@tailwind components;
@tailwind utilities;
.main {
  font-size: 5rem;
  position: absolute;
  color: white;
  width: 1200px;
  left: calc(50% - 500px);
}
body{
  width: 1500px;
  height: 650;
}